title #{sitename}
meta(charset="utf-8")
meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0")
meta(name="robots" content="noindex,noarchive")
meta(name="format-detection" content="telephone=no")
link(rel="stylesheet" href="css/style.css")
.
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
if type=='index'
    .
        <script   src="https://code.jquery.com/jquery-3.3.1.slim.min.js"   integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="   crossorigin="anonymous"></script>