section#whatever
    .heading
        ul
            - for (var i = 0; i < 3; i++)
                li
                    figure
                        img(src=`images/sample/dammy.svg` alt='image')
                    h2
                        span.sub I'm Free Whatever I
                        span.ttl Like Strawberry
                    .category project